{% extends 'base.html' %}

{% block conteudo %}
<h1 class="mt-5">Minha agenda</h1>

<form method="POST">
    {% csrf_token %}
         <input type="text"  name="nome"/>
         <input type="submit" Value="Search"/>

        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
              <th>Categoria</th>
              <th>Ativo</th>
            </tr>
          </thead>
          <tbody>
            {% for contato  in contatos %}
            <tr>
              <td>
                <a href="{% url 'ver_contato' contato_id=contato.id %}"> {{ contato.nome }} </a>
              </td>
              <td> {{ contato.sobrenome }}</td>
              <td> {{ contato.telefone }}</td>
              <td> {{ contato.categoria }}</td>
              <td> {{ contato.ativo }}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
    </form>

{% endblock %}